<div class="container-fluid">
    <app-header></app-header>
    <!-- Dashboard Welcome Section -->
    <div class="mb-4 bgColor text-dark p-4">
        <h2 class="">Welcome, {{user.fullname}}</h2>

        <h4 class="text-muted">Your Projects</h4>
    </div>

    <!-- Project Cards -->
    <div class="row g-4">
        <div class="col-md-4" *ngFor="let project of projetcs" [routerLink]="['/projects', project._id]" style="cursor: pointer;">
            <app-project-card [title]="project.title" [color]="project.color" [project]="project"></app-project-card>
        </div>

        <div class="col-md-4">
            <app-create-project-card></app-create-project-card>
        </div>
    </div>

    <!-- Recent Activities -->
    <div class="mt-5">
        <app-activity-list></app-activity-list>
    </div>
</div>