<div class="container-fluid px-4 pb-4">
    <app-header></app-header>

    <!-- Welcome -->
    <div class="shadow-sm border-0 rounded-4 mb-4">
        <div class="py-4 px-4">
            <h2 class="fw-bold mb-2">
                Welcome back, {{ user.fullname }}
            </h2>

            <p class="text-muted mb-0">
                Here's an overview of your work.
            </p>
        </div>
    </div>

    <div class="row g-4">
        <!-- Left Column -->
        <div class="col-lg-4">
            <app-create-project-card label="Create New Project" (open)="openCreateModal()"></app-create-project-card>
        </div>

        <!-- Right Column -->
        <div class="col-lg-8">
            <div class="border-0  rounded-4">
                <div class="">
                    <h2 class="fw-bold mb-4 bgRecentProject">
                        Recent Projects
                    </h2>

                    <div *ngFor="let project of projects.slice(0,2)" class="mb-4" (click)="onViewProject(project)" style="cursor:pointer">
                        <app-project-card color="primary" [project]="project"></app-project-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>