<app-card>
  <div class="project-card border">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h3 class="fw-bold mb-1">
          {{project.name}}
        </h3>

        <p class="text-muted mb-4">
          {{project.description || 'No description available'}}
        </p>
      </div>

      <span class="badge rounded-pill p-3" [ngClass]="{'bg-success':project.status==='active', 'bg-secondary':project.status==='completed'}">
        {{project.status | titlecase}}
      </span>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <div>
            <div class="text-muted small">
            <i class="bi bi-calendar-plus me-1"></i>
            Created
            </div>

            <div class="fw-semibold">
            {{ project.createdAt | date:'dd MMM yyyy' }}
            </div>
        </div>

        <div class="text-end">
            <div class="text-muted small">
            <i class="bi bi-clock-history me-1"></i>
            Updated
            </div>

            <div class="fw-semibold">
            {{ project.updatedAt | date:'dd MMM yyyy' }}
            </div>
        </div>
    </div>

    <div class="row g-3 mb-4">

        <div class="col-4">
            <div class="stat-card text-center">
            <div class="stat-icon bg-primary-subtle text-primary">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>

            <h4 class="stat-value">
                {{ project.totalTasks || 0 }}
            </h4>

            <span class="stat-label">
                Tasks
            </span>
            </div>
        </div>

        <div class="col-4">
            <div class="stat-card text-center">
            <div class="stat-icon bg-success-subtle text-success">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>

            <h4 class="stat-value">
                {{ project.members.length || 0 }}
            </h4>

            <span class="stat-label">
                Members
            </span>
            </div>
        </div>

        <div class="col-4">
            <div class="stat-card text-center">
            <div class="stat-icon bg-warning-subtle text-warning">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>

            <h4 class="stat-value">
                {{ project.completedTasks || 0 }}
            </h4>

            <span class="stat-label">
                Completed
            </span>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted">
        <i class="bi bi-clock-history me-2"></i>
        {{project.status | titlecase}} Project
      </div>

      <app-button class="btn btn-outline-primary" label="View Project" [routerLink]="['/projects',project._id]"></app-button>
    </div>
  </div>
</app-card>