<app-card [title]="name">
    <div class="card-body text-white" [ngClass]="'bg-' + color">
        <!-- Project Title -->
        <h4 class="fw-bold">{{project.name}}</h4>

        <!-- Description -->
        <p class="small text-light">
            {{project.description || 'No description available'}}
        </p>

        <!-- Progress -->
        <div class="mb-3">
            <small>Progress</small>

            <div class="progress">
                <div class="progress-bar bg-success" [style.width.%]="getProgress()"></div>
                <small class="d-block mt-1">{{getProgress() | number:'1.0-0'}}%</small>
            </div>
        </div>

        <!-- Task Stats -->
        <div class="d-flex justify-content-between small mb-3">
            <span>{{ project.completedTasks || 0 }}</span>

            <span>{{ (project.totalTasks || 0) - (project.completedTasks || 0) }}</span>
        </div>

        <!-- Button -->
        <div class="d-flex justify-content-end">
            <app-button class="btn btn-light btn-sm" label="View Task"></app-button>
        </div>
    </div>
</app-card>