/* Navbar height balance */
.navbar{
    max-height:70px;
}
.navbar-brand{
    padding:0 !important;
    margin:0 !important;
}
/* Logo wrapper spacing */
.logo-wrapper{
    display:flex;
    align-items:center;
    line-height: 0;
}

.bgHeaderColor{
    background: linear-gradient(-165deg, #5d5dff, #010a72);
}
.icon{
    font-size:18px;
    cursor:pointer;
}

/* .notification-count{
    top: 15%;
    right: 3%;
    background: #f45959;
    height: 25px;
    width: 25px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
} */

.notification-wrapper{
    position: relative;
    cursor: pointer;
}

.notification-wrapper i{
    font-size: 20px;
}

.notification-count{
    position: absolute;
    top: -6px;
    right: -8px;

    background: #f45959;
    height: 18px;
    min-width: 18px;
    padding: 0 4px;

    font-size: 11px;
    font-weight: 600;

    color: #fff;
    text-align: center;
    border-radius: 50%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.notification-count{
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.1); }
    100%{ transform: scale(1); }
}

.user-avatar{
    width:35px;
    height:35px;
    border-radius:50%;
    background-color:#a7c4ff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;
    color:white;
    cursor:pointer;
}

.taskzen-logo{
    height:150px;
    width:150px;
    /* object-fit:contain; */
}

/* hamburger hidden on desktop */
.menu-icon{
    font-size:22px;
    cursor:pointer;
    display:none;
}

.dropdown-menu{
    right:0 !important;
    left:auto !important;
    min-width:160px;
}


/* ---------- MOBILE SIDEBAR ---------- */

.mobile-sidebar{
    position:fixed;
    top:0;
    left:-100%;
    height:100%;
    width:50%;
    background:white;
    z-index:1000;
    transition:0.3s;
    padding:20px;
}

.mobile-sidebar.open{
    left:0;
}

.sidebar-header{
    margin-bottom:30px;
}

.sidebar-menu{
    list-style:none;
    padding:0;
}

.sidebar-menu li{
    padding:12px 0;
    font-weight:500;
    cursor:pointer;
}

/* overlay */
.sidebar-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:999;
}

/* ---------- MOBILE VIEW ---------- */

@media (max-width:576px){
    .desktop-logo{
        display:none;
    }

    .menu-icon{
        display:block;
    }

    .timezen-logo{
        height:100px;
        width:auto;
    }
}