<nav class="navbar navbar-expand-sm navbar-dark bgHeaderColor px-2">
  <!-- Left Side -->
  <div class="d-flex align-items-center">
    <!-- Mobile Menu Icon -->
    <i class="fa fa-bars text-white me-3 menu-icon" (click)="toggleSidebar()"></i>

    <!-- Logo -->
    <span class="navbar-brand logo-wrapper fw-bold me-3 desktop-logo">
      <img src="../../../../assets/TaskZen-logo5.png" alt="TaskZen Logo" class="taskzen-logo">
    </span>
  </div>

  <!-- Right Side -->
  <div class="ms-auto d-flex align-items-center gap-3">

    <div class="notification-wrapper">
      <i class="fa fa-bell text-white" aria-hidden="true"></i>
      <span class="notification-count">3</span>
    </div>

    <div class="dropdown user-dropdown">
      <button class="user-avatar dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">P</button>

      <ul class="dropdown-menu dropdown-menu-end shadow">

        <li><hr class="dropdown-divider"></li>

        <li style="cursor: pointer;">
          <a class="dropdown-item text-danger" (click)="logout()">
            <i class="fa fa-sign-out me-2"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- MOBILE SIDEBAR -->
<div class="mobile-sidebar" [class.open]="isSidebarOpen">

  <div class="sidebar-header d-flex justify-content-between align-items-center">
    <img src="../../../../assets/TaskZen-logo5.png" class="timezen-logo">

    <span class="fw-bold" style="font-size: 35px;" (click)="onCloseSideBar()">X</span>
  </div>

  <ul class="sidebar-menu">
    <li>DASHBOARD</li>
    <li>Projects</li>
    <li>Tasks</li>
    <li>Settings</li>
  </ul>

</div>

<!-- overlay -->
<div class="sidebar-overlay"
     *ngIf="isSidebarOpen"
     (click)="toggleSidebar()">
</div>