<div class="card h-100 border-0 bg-{{bgCardColor}}">
    <!-- Header for column titles -->
    <div class="card-{{cardType}} bg-{{color}}" *ngIf="cardType === 'header'">
        <h5 class="card-title mb-0 text-white text-center">{{title}}</h5>
    </div>

    <!-- Card body -->
    <div class="card-body p-3 text-{{textColor}}">
        <!-- Show title if provided -->
        <h5 class="card-title text-center" *ngIf="title && cardType !== 'header'">
            {{title}}
        </h5>

        <ng-content></ng-content>
    </div>
</div>