<div class="mb-4 position-relative" [formGroup]="form">
    <label class="form-label">{{label}}</label>
    <input [type]="hide ? 'password' : 'text'" class="form-control" [formControlName]="controlName" [ngClass]="{'is-invalid': form.get(controlName)?.invalid && form.get(controlName)?.touched}">

    <i class="fa" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'" (click)="hide=!hide" style="position: absolute; top: 72%; right: 10px; transform: translateY(-50%); cursor:pointer"></i>

    <small *ngIf="form.get(controlName)?.errors?.['required']" class="invalid-feedback text-danger position-absolute">
        {{label}} is required.
    </small>

    <small *ngIf="form.get(controlName)?.errors?.['minlength']" class="invalid-feedback text-danger d-block position-absolute">
        Minimum 6 characters required
    </small>

    <small *ngIf="form.get(controlName)?.errors?.['pattern']" class="invalid-feedback text-danger position-absolute">
        {{label}} requirements
        <span class="text-primary" style="cursor:pointer" (click)="showRules = !showRules">({{showRules ? 'hide' : 'show'}})</span>
    </small>

    <div *ngIf="showRules" class="mt-1 password-popup shadow position-absolute">
        <i class="fa fa-times close-icon" (click)="showRules = false"></i>

        <small class="text-muted d-block">
            <!-- • Minimum 6 characters<br> -->
            • At least 1 uppercase letter<br>
            • At least 1 lowercase letter<br>
            • At least 1 number<br>
            • At least 1 special character<br>
            • No spaces allowed
        </small>
    </div>
</div>