<app-loader *ngIf="isLoader" label="Loading"></app-loader>

<div class="container-fluid vh-100">
    <div class="row h-100 g-0">
        <!-- Auth-Form-Hero-Image -->
        <div class="col-12 col-md-6 p-0 order-1 order-md-1 imgBgColor d-none d-md-flex align-items-center justify-content-center">
            <img src="../../../../assets/auth-login-img2.png" alt="auth-hero-image" class="img-fluid auth-image w-100">
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-2 order-md-2 bgColor">
            <form class="w-75" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- Form Intro -->
                <div class="text-center mb-4">
                    <div class="mb-4">
                        <h2 class="text-center"><strong>Task<span class="text-primary" style="font-family:fantasy">Z</span>en</strong></h2>
                        <p class="text-center"><span class="text-primary">~</span> Plan | Trace | Achieve <span class="text-primary">~</span></p>
                    </div>
                    <h4 class="fw-bold">Be <span class="text-primary">One Step Ahead</span></h4>
                    <p class="text-muted small">
                        Manage your tasks smarter and stay organized.
                    </p>
                </div>

                <h2 class="text-primary">Sign in</h2>

                <!-- Email -->
                <app-form-input label="Email" type="email" controlName="email" [form]="loginForm"></app-form-input>

                <!-- Password -->
                <app-password-input label="Password" controlName="password" [form]="loginForm"></app-password-input>

                <!-- Form Footer -->
                <div class="d-md-flex justify-content-between">
                    <a routerLink="/auth/signup" class="text-decoration-none small"><p>Don't have account ? Sign up</p></a>

                    <a routerLink="/auth/forgot-password" class="text-decoration-none small"><p>Forgot Password</p></a>
                </div>

                <!-- Submit Button -->
                <div class="d-flex justify-content-end mt-1">
                    <app-button type="submit" label="Sign in" color="primary" [disabled]="isLoader"></app-button>
                </div>
            </form>
        </div>
    </div>
</div>