<div class="d-md-flex justify-content-between align-items-center mt-3">
    <div class="col-md-4 px-1">
        <app-card cardType="header" title="To Do" color="success">
            <app-column-task-card title="Design Login Page"></app-column-task-card>
            <app-column-task-card title="Write API Documentation"></app-column-task-card>
        </app-card>
    </div>

    <div class="col-md-4 px-1">
        <app-card cardType="header" title="In Progress" color="progress">
            <app-column-task-card title="Develop Auth Module"></app-column-task-card>
            <app-column-task-card title="Fix UI Bug"></app-column-task-card>
        </app-card>
    </div>

    <div class="col-md-4 px-1">
        <app-card cardType="header" title="Done" color="done">
            <app-column-task-card title="Set Up Database"></app-column-task-card>
            <app-column-task-card title="Deploy to Server"></app-column-task-card>
        </app-card>
    </div>
</div>