<app-loader *ngIf="isLoader"></app-loader>

<div class="container-fluid vh-100">
    <div class="row h-100 g-0">
        <!-- Auth-Form-Hero-Image -->
        <div class="col-12 col-md-6 p-0 order-1 order-md-1 imgBgColor d-none d-md-flex align-items-center justify-content-center">
            <img src="../../../../assets/auth-login-img2.png" alt="auth-hero-image" class="img-fluid auth-image w-100">
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-2 order-md-2 bgColor">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="w-75">
                <!-- Form Intro -->
                <div class="text-center mb-4">
                    <div class="mb-4">
                        <h2 class="text-center"><strong>Task<span class="text-primary" style="font-family:fantasy">Z</span>en</strong></h2>
                        <p class="text-center"><span class="text-primary">~</span> Plan | Trace | Achieve <span class="text-primary">~</span></p>
                    </div>
                </div>

                <h4 class="text-primary">Forgot-Password</h4>
                <p class="text-secondary small mb-4">
                    Enter your registered email and we’ll send you an <span class="fw-bold text-danger" style="font-family: italic;">OTP</span> to reset your password.
                </p>

                <!-- Email -->
                <app-form-input label="Email" type="email" controlName="email" [form]="forgotPasswordForm"></app-form-input>
                <div class="d-flex justify-content-end mt-1">
                    <app-button type="submit" color="primary" label="Submit"></app-button>
                </div>
            </form>
        </div>
    </div>
</div>            