<div class="p-2">
    <app-card title="{{title}}" class="p-3">
        <div class="d-md-flex justify-content-around align-items-center">

            <div class="progress w-75">
                <div class="progress-bar" role="progressbar" style="width: 50%;"></div>
            </div>
            
            <span class="badge bg-success rounded-circle">&nbsp;</span>
        </div>
    </app-card>

    <app-card title="Write API Documentation" class="p-3">
        <div class="d-md-flex justify-content-around align-items-center">

            <div class="progress w-75">
                <div class="progress-bar" role="progressbar" style="width: 50%;"></div>
            </div>
            
            <span class="badge bg-success rounded-circle">&nbsp;</span>
        </div>
    </app-card>
</div>