<div class="mb-4 position-relative" [formGroup]="form">

    <label class="form-label">{{label}}</label>
    <input [type]="type" class="form-control" [formControlName]="controlName" [ngClass]="{'is-invalid': form.get(controlName)?.invalid && form.get(controlName)?.touched}" (input)="handleInput($event)" (blur)="trimValue()">

    <!-- Required -->
    <small *ngIf="form.get(controlName)?.errors?.['required']" class="invalid-feedback text-danger position-absolute">
        {{label}} is required.
    </small>

    <!-- Email Pattern -->
    <small *ngIf="form.get(controlName)?.errors?.['pattern']" class="invalid-feedback text-danger position-absolute">
        Invalid Email Format. Only alpha-numeric characters, @ and . are allowed.
    </small>

    <!-- Min Length -->
    <small *ngIf="form.get(controlName)?.errors?.['minlength']" class="invalid-feedback text-danger position-absolute">
        Minimum 2 characters required.
    </small>

    <!-- Max Length -->
    <small *ngIf="form.get(controlName)?.errors?.['maxlength']" class="invalid-feedback text-danger position-absolute">
        Maximum only 60 characters allowed.
    </small>

</div>