<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-6 p-0 order-1 order-md-1">
            <img src="../../../../assets/auth-hero-image.jpg" alt="auth-hero-image" class="img-fluid auth-image">
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center order-2 order-md-2 bgColor">
            <form class="w-75">
                <h2 class="">Sign in</h2>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>

                    <input type="email" class="form-control" id="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>