<div class="container-fluid vh-100">
    <div class="row h-100 g-0">
        <div class="col-12 col-md-6 p-0 order-1 order-md-1 imgBgColor d-none d-md-flex align-items-center justify-content-center">
            <img src="../../../../assets/auth-login-img.png" alt="auth-hero-image" class="img-fluid auth-image w-100">
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-2 order-md-2 bgColor">
            <form class="w-75" [formGroup]="loginForm">
                <!-- Form Intro -->
                <div class="text-center mb-4">
                    <div class="mb-4">
                        <h2 class="text-center"><strong>Time<span class="text-primary" style="font-family:fantasy">Z</span>en</strong></h2>
                        <p class="text-center"><span class="text-primary">~</span> Plan | Trace | Achieve <span class="text-primary">~</span></p>
                    </div>
                    <h4 class="fw-bold">Be <span class="text-primary">One Step Ahead</span></h4>
                    <p class="text-muted small">
                        Manage your tasks smarter and stay organized.
                    </p>
                </div>

                <h2 class="text-primary">Sign in</h2>

                <!-- Email -->
                <div class="mb-4 position-relative">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': loginForm.controls['email'].invalid && loginForm.controls['email'].touched}">
                    <small *ngIf="loginForm.controls['email'].errors?.['required']" class="invalid-feedback text-danger position-absolute">
                        Email is required.
                    </small>

                    <small *ngIf="loginForm.controls['email'].errors?.['email']" class="invalid-feedback text-danger position-absolute">
                        Invalid email.
                    </small>

                    <small *ngIf="loginForm.controls['email'].errors?.['pattern']" class="invalid-feedback text-danger position-absolute">
                        Only alpha-numeric characters, @ and . are allowed.
                    </small>
                </div>

                <!-- Password -->
                <div class="mb-4 position-relative">
                    <label for="password" class="form-label">Password</label>
                    <input type="{{hide}}" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid':loginForm.controls['password'].invalid && loginForm.controls['password'].touched}">
                    <i class="fa fa-{{hide == 'password' ? 'eye-slash' : 'eye'}} position-absolute" style="top: 72%; right: 10px; transform: translateY(-50%); cursor: pointer;" (click)="hide == 'password' ? (hide = 'text') : (hide = 'password')"></i>
                    <small *ngIf="loginForm.controls['password'].errors?.['required']" class="invalid-feedback text-danger position-absolute">
                        Password is required.
                    </small>

                    <small *ngIf="loginForm.controls['password'].errors?.['minlength']" class="invalid-feedback text-danger d-block position-absolute">
                        Minimum 6 characters required
                    </small>

                    <small *ngIf="loginForm.controls['password'].errors?.['pattern']" class="invalid-feedback text-danger position-absolute">
                        Password requirements
                        <span class="text-primary" style="cursor:pointer" (click)="showRules = !showRules">({{showRules ? 'hide' : 'show'}})</span>
                    </small>

                    <div *ngIf="showRules" class="mt-1 password-popup shadow position-absolute">
                        <i class="fa fa-times close-icon" (click)="showRules = false"></i>

                        <small class="text-muted d-block">
                            <!-- • Minimum 6 characters<br> -->
                            • At least 1 uppercase letter<br>
                            • At least 1 lowercase letter<br>
                            • At least 1 number<br>
                            • At least 1 special character<br>
                            • No spaces allowed
                        </small>
                    </div>
                </div>

                <div class="d-md-flex justify-content-between">
                    <a routerLink="/auth/signup" class="text-decoration-none small"><p>Don't have account ? Sign up</p></a>

                    <a routerLink="" class="text-decoration-none small"><p>Forgot Password</p></a>
                </div>

                <div class="d-flex justify-content-end mt-1">
                    <app-button type="submit" label="Sign in" color="primary"></app-button>
                </div>
            </form>
        </div>
    </div>
</div>